# Import Libraries

In [16]:
# Import Libraries

import pandas as pd
import numpy as np
import os

# 4.6 Reading Practice

### Importing Dataframes

In [18]:
# Importing Prior Orders

df_ords_prior = pd.read_csv(r'D:\Career Foundry\2) Data Immersion\4) Python Fundamentals for Data Analysts\DI 4.2 - Jupyter Folder\Instacart Basket Analysis\02 Data\Original Data\4.6_orders_products_prior\orders_products_prior.csv', index_col = False)

In [19]:
# Importing Prepared Orders

df_ords = pd.read_csv (r'D:\Career Foundry\2) Data Immersion\4) Python Fundamentals for Data Analysts\DI 4.2 - Jupyter Folder\Instacart Basket Analysis\02 Data\Prepared Data\orders_products_clean.csv', index_col = False)

In [48]:
# Path

path=r'D:\Career Foundry\2) Data Immersion\4) Python Fundamentals for Data Analysts\DI 4.2 - Jupyter Folder\Instacart Basket Analysis'

#### Check the output

In [21]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [24]:
df_ords.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,0,2539329,1,prior,1,2,8,NaN
1,1,2398795,1,prior,2,3,7,15.0
2,2,473747,1,prior,3,3,12,21.0
3,3,2254736,1,prior,4,4,7,29.0
4,4,431534,1,prior,5,4,15,28.0

### Checking dimensions

In [29]:
df_ords_prior.shape

(32434489, 4)

In [31]:
df_ords.shape

(3421083, 8)

### Inner Join

In [34]:
# Inner Join

df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [40]:
# Checking Output

df_merged_large.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,0,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [38]:
# Checking Counts

df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [53]:
df_merged_large.shape

(32434489, 12)

In [ ]:
# I'm unsure how to double check the merge with the how =  'outer' argument described in the reading.

# DI 4.6 Combining Task

In [55]:
# Export file into a Pickle

df_merged_large.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))